extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
  div(class='breadcrumb')
    li= Пасажири
  form(id='shop-add-form' name='shop-add-form' class='form-inline' action='/createPass' method='POST')
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Name
      div(class='col-md-9')
        input(id='name' name='name' value='' class='form-control')
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') PasportId
      div(class='col-md-9')
        input(id='address' name='pasportId' value='' class='form-control')
    div(class='form-group')
      div(class='col-md-12')
        button(type='submit' class='btn btn-primary') Create

    br
    hr
    div.list-wrapper
      table(id='shop-list')
        each val, index in data
          tr
            td= index
            td='Імя:' + val.name
            td='Паспорт:' + val.pasportId
  br
  h2  Редагування пасажира в колекції
  form( name='Edit' class='form-inline' action='/editPass' method='POST')
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') New Name
      div(class='col-md-9')
        input( name='name' value='' class='form-control')
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') New PasportId
      div(class='col-md-9')
        input( name='pasportId' value='' class='form-control')
    div(class='form-group')
      select#OueShip(name = 'index')
        each val, index in data
          option= index + '. Імя:' + val.name + '. Паспорт:' + val.pasportId

      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Edit
  br
  h2  Видалення пасажира з колекції
  form( name='Edit' class='form-inline' action='/deletePass' method='POST')
    div(class='form-group')
      select(name = 'index')
        each val, index in data
          option= index + '. Імя:' + val.name + '. Паспорт:' + val.pasportId

      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Delete
  br
  h2  Пошук по паспорту
  if info
    h3= 'З даним паспортом є пасажир ' + info.name
  else
    p Тут буде інформація про юзера
  form( name='Edit' class='form-inline' action='/findPass' method='POST')
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') PasportId
      div(class='col-md-9')
        input( name='pasportId' value='' class='form-control')


      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Edit
block append scripts
  script(src='/static/js/models/shop.js')
  script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/static/js/views/shop.js')
